<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

    <a href="https://github.com/mattgraham/leapday" class="button fork"><strong>Fork On GitHub</strong></a>
    <div class="downloads">
      <span>Downloads:</span>
      <ul>
        <li><a href="https://github.com/mattgraham/leapday/zipball/master" class="button">ZIP</a></li>
        <li><a href="https://github.com/mattgraham/leapday/tarball/master" class="button">TAR</a></li>
      </ul>
    </div>
  </div>
</div>
