<h2>Who is Matt Graham?</h2>
<p><img src="http://www.gravatar.com/avatar/25d643886852ad60d0efe0b3190a53dd.png?s=600" alt="Matt Graham"></p>
<p>A creative. Previously at GitHub, Ordered List etc. He can be found on <a href="http://twitter.com/#!/michigangraham">Twitter</a>, <a href="http://github.com/mattgraham">GitHub</a>, <a href="http://madebygraham.com">his blog</a>, and around the country for numerous events. Enjoyed the theme? Share it with the twitterverse. Found bugs, submit a pull request and he'll see what he thinks.</p>
