<h2>Who is Matt Graham?</h2>
<p><img src="http://www.gravatar.com/avatar/25d643886852ad60d0efe0b3190a53dd.png?s=600" alt="Matt Graham"></p>
<p>Product/UX designer at @Heroku / @salesforce. Formerly @GitHub. Search and Recovery Diver. Found on <a href="http://twitter.com/#!/mattgraham">Twitter</a>, <a href="http://github.com/mattgraham">GitHub</a>, <a href="http://madebygraham.com">his blog</a>, and around the country for numerous events. Enjoyed the theme? Share it. Found bugs, submit a <a href="http://github.com/mattgraham/leapday" target="_blank">pull request</a>.</p>
